.map__container {
  overflow-y: auto;
  max-height: 690px;
  .responsive-map {
    overflow: hidden;
    padding-bottom: 54.25%;
    position: relative;
    max-height: 0px;
    iframe {
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      position: absolute;
    }
  }
}
@include mobile{
  .map__container{
    .responsive-map {
      padding-bottom: 100%;
    }
  }
}