//------------------ Hero Section ---------------------//
.hero_container {
  background: url(../img/home-hero.png) center center no-repeat;
  background-size: cover;
  position: relative;
  margin-top: -86px;
  background-color: gray;
  max-height: 864px;
  min-height: 812px;
  width: 100%;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.15);
  z-index: -1;
  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .la_vista {
    max-width: 690px;
    min-width: 300px;
    width: 50%;
  }
  .play {
    top: 75%;
    max-width: 120px;
    min-width: 100px;
    width: 10%;
  }
}
//------------------ Card Section ---------------------//
.card_container {
  padding: 70px 0px;
  .card-1 {
    background: linear-gradient(
        180deg,
        rgba(1, 253, 215, 0.445) 0%,
        rgba(3, 7, 250, 0.5) 100%
      ),
      url(../img/home-card-1.png) center center no-repeat;
  }
  .card-2 {
    background: linear-gradient(
        180deg,
        rgba(1, 253, 215, 0.445) 0%,
        rgba(3, 7, 250, 0.5) 100%
      ),
      url(../img/home-card-2.png) center center no-repeat;
  }
  .card-3 {
    background: linear-gradient(
        180deg,
        rgba(1, 253, 215, 0.445) 0%,
        rgba(3, 7, 250, 0.5) 100%
      ),
      url(../img/home-card-3.png) center center no-repeat;
  }
  .card {
    position: relative;
    color: #fff;
    // width: 442px;
    height: 296px;
    opacity: 0.7;
    border-radius: 5px;
    margin: 0 10px;
    mix-blend-mode: normal;
    background-size: cover;

    .overlay {
      border: 2px solid $card-border;
      position: absolute;
      top: 10px;
      bottom: 10px;
      left: 10px;
      right: 10px;
      z-index: -1;
      border-radius: 5px;
    }
    h2 {
      text-align: center;
      line-height: 296px;
    }
  }
}
//------------------ Card Section Media Query ---------------------//

 @include tablet{
  
 }
@include mobile{
     .card_container{
         padding: 50px 0px;
         .container{
             padding: 0px;
             .card{
             margin-bottom: 10px;
             height: 150px;
             h2{
                 line-height: 150px;
             }
         }
         }
         
     }
 }
//------------------ Amazing Text Section ---------------------//
.amazing_text {
  padding: 50px 0 100px 0;
  .heading{
    align-items: center;
    margin-bottom: 40px;
  }
  .line {
    background-color: $primary-color;
    height: 2px;
  }
  h2 {
    text-align: center;
    color: $primary-color;
  }
}

@include mobile{
    .amazing_text{
        padding: 10px 0;
        text-align: center;
        h2{
            margin-bottom: 20px;
        }
        .line:first-child{
            display: none;
        }
        .line{
         width: 100px;
         margin-bottom: 20px;
        }
    }
}

//------------------ Contact form Section ---------------------//
.contact_form_container {
  padding: 50px 0 100px 0;
  .container {
    .details {
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-items: flex-start;
      max-width: 500px;
      margin: 30px 0 15px 0;
      font-size: 28px;
      .icon {
        margin-right: 20px;
      }
    }
  }
  .contact_form {
    border: 1px solid #a1a1a1;
    padding: 32px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    input[type="text"],
    input[type="email"] {
      width: 100%;
      height: 80px;
      border: 1px solid #a1a1a1;
      border-radius: 5px;
      font-size: 28px;
      line-height: 38px;
      text-transform: capitalize;
      color: #474545;
      margin-bottom: 20px;
      padding-left: 30px;
      outline: none;
      &:focus-visible {
        border: 1px solid #48bfe3;
      }
      &:focus {
        border: 1px solid #48bfe3;
      }
    }
    ::placeholder {
      color: rgba(71, 69, 69, 1);
    }

    .consent_group {
      align-items: flex-start;
      justify-content: flex-start;
      padding-left: 20px;
      padding-top: 10px;
      input[type="checkbox"] {
        width: 24px;
        height: 24px;
      }
      option {
        white-space: pre-wrap;
        font-size: 20px;
        padding-left: 10px;
        a {
          color: red;
        }
      }
    }
  }
}
//------------------ Contact Section Media  ---------------------//
@include tablet{
  .contact_form_container{
    .container{
      .contact_info{
        padding-right: 10px;
      }
      .contact_form{
        .btn_group{
          flex-direction: column-reverse;
        }
        .button{
          margin-top: 20px;
        }
        
        
      }
    }
  }
}
@include mobile{
    .contact_form_container{
        padding-bottom: 50px;
        .container{
            h2{
                text-align: center;
            }
            .contact_form{
                height: auto;
                box-shadow: none;
                padding: 0;
                border: none;
                .btn_group{
                    flex-direction: column-reverse;
                    .button{
                        text-align: center;
                    }
                    .consent_group{
                        justify-content: flex-start;
                        margin-bottom: 20px;
                        input[type="checkbox"] {
                          margin-right: 0px;
                          padding-right: 10px;
                        }
                        option{
                            padding-left: 10px;
                        }
                    }
                }
            }
        }
    }
}
//------------------ Progress Slider Section ---------------------//
.progress {
  padding: 50px 0;
  overflow: hidden;
  .container {
    .top {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      h2 {
        text-align: center;
        margin-bottom: 40px;
        color: $primary-color;
      }
      .steps {
        position: relative;
        display: inline-flex;
        &::before {
          content: "";
          width: 98%;
          border: 1px dotted;
          position: absolute;
          top: 50%;
          left: 0;
          z-index: -1;
          transform: translateY(50%);
        }
        &::after {
          content: "";
          height: 2px;
          width: 70%;
          position: absolute;
          top: 50%;
          left: 0;
          text-align: left;
          z-index: -1;
          transform: translateY(50%);
          background: linear-gradient(270deg, #65fae4 0%, #4d4ff0 100%);
        }
        .step {
          background: #48bfe3;
          box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.2);
          height: 60px;
          width: 60px;
          border-radius: 50%;
          margin: 0 30px;
          font-weight: 500;
          font-size: 40px;
          line-height: 48px;
          display: flex;
          align-items: center;
          justify-content: center;
          text-transform: uppercase;
          color: #ffffff;
          &:first-child {
            margin-left: 0;
          }
          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
    .process_slider_container {
      position: relative;
      margin-top: 40px;
      .left {
        h3 {
          margin-bottom: 20px;
        }
      }
      .right {
        h2 {
          text-align: center;
          color: rgba(114, 239, 221, 1);
          font-size: 100px;
          font-weight: 700;
          margin-bottom: 20px;
        }
      }
      .nav_icon {
        position: absolute;
        top: 50%;
      }
      .prev {
        transform: translateY(-50%) rotate(180deg);
        left: -60px;
      }
      .next {
        right: -60px;
        transform: translateY(-50%);
      }
    }
  }
}
// ---------Progress Section Media Query --------------//
@include tablet {
  .progress {
      padding: 10px;
    .container {
      .process_slider_container {
        .right {
          h2 {
            font-size: 80px;
          }
        }
        .nav_icon {
          position: absolute;
          top: 50%;
        }
        .prev {
          transform: translateY(-50%) rotate(180deg);
          left: -60px;
        }
        .next {
          right: -60px;
          transform: translateY(-50%);
        }
      }
    }
  }
}
@include mobile {
  .progress {
    .container {
      .top {
        .steps {
          .step {
            margin: 10px;
            width: 38px;
            height: 38px;
            font-size: 28px;
          }
        }
      }
      .process_slider_container{
          text-align: center;
          .right{
              h2{
                  margin-top: 20px;
                  font-size: 64px;
              }
          }
      }
    }
  }
}
//------------------ Image Slider Section ---------------------//
.image_slider {
  box-sizing: unset;
  overflow: hidden;
  padding: 100px 0;
  width: 100%;
  height: 555px;
  position: relative;
  .slide_container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-wrap: nowrap;
    .img_box {
      width: 600px;
      height: 415px;
      margin: 0 20px;
      img {
        width: 100%;
        height: 100%;
      }
      &.active {
        width: 800px;
        height: 551px;
      }
    }
  }
  .navigation {
    width: 100%;
    .prev {
      position: absolute;
      top: 50%;
      left: 6%;
      img {
        transform: rotate(180deg);
      }
    }
    .next {
      position: absolute;
      top: 50%;
      right: 6%;
    }
    .nav_icon {
      transform: translateY(-50%);
      height: 70px;
      width: 70px;
      background: #ffffff;
      border: 2px solid #ffffff;
      border-radius: 50%;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }
  }
}
@include tablet {
  .image_slider {
    .slide_container {
      .img_box {
        width: 504px;
        height: 349px;
        &.active {
          max-width: 670px;
          max-height: 534px;
        }
      }
    }
  }
}
@include mobile{
    .image_slider{
        padding: 50px 0;
    }
}
//------------------ Eco Concept Section ---------------------//
.eco_concept {
  background: linear-gradient(90deg, #48bfe3 0%, rgba(72, 191, 227, 0) 100%),
    url(../img/eco-concept.png) center center no-repeat;
  background-size: cover;

  color: white;
  .container {
    justify-content: flex-start;
    height: 617px;
    h2,
    p {
      margin-bottom: 40px;
    }
    .icons img {
      margin-right: 50px;
    }
  }
}

@include mobile {
  .eco_concept {
    .container {
      align-items: flex-start;
      text-align: center;
      padding: 20px;
      h2 {
        margin-bottom: 30px;
        position: relative;
        &::after {
          content: "";
          width: 170px;
          position: absolute;
          top: 60px;
          left: 50%;
          transform: translateX(-50%);
          background-color: white;
          height: 2px;
        }
      }
      .icons {
        img:last-child {
          margin-right: 0;
        }
      }
    }
  }
}
